*.iml
.gradle
/local.properties
/build
/gradle
/captures
.externalNativeBuild
/gradle.properties
/gradlew
/gradlew.bat
/.idea/
/app/release/
.DS_Store
/dagger/build/
rxhttp/build/
/rxmvp/proguard-rules.pro
rxmvp/libs/
rxmvp/src/main/java/
